@font-face {
    font-family: 'Project Sans';
    src: url('ProjectSans-ExtraLightItalic.eot');
    src: local('Project Sans ExtraLight Italic'), local('ProjectSans-ExtraLightItalic'),
        url('ProjectSans-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('ProjectSans-ExtraLightItalic.woff2') format('woff2'),
        url('ProjectSans-ExtraLightItalic.woff') format('woff'),
        url('ProjectSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Project Sans';
    src: url('ProjectSans-Italic.eot');
    src: local('Project Sans Italic'), local('ProjectSans-Italic'),
        url('ProjectSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('ProjectSans-Italic.woff2') format('woff2'),
        url('ProjectSans-Italic.woff') format('woff'),
        url('ProjectSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Project Sans';
    src: url('ProjectSans-SemiBold.eot');
    src: local('Project Sans SemiBold'), local('ProjectSans-SemiBold'),
        url('ProjectSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('ProjectSans-SemiBold.woff2') format('woff2'),
        url('ProjectSans-SemiBold.woff') format('woff'),
        url('ProjectSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Project Sans';
    src: url('ProjectSans-SemiBoldItalic.eot');
    src: local('Project Sans SemiBold Italic'), local('ProjectSans-SemiBoldItalic'),
        url('ProjectSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ProjectSans-SemiBoldItalic.woff2') format('woff2'),
        url('ProjectSans-SemiBoldItalic.woff') format('woff'),
        url('ProjectSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Project Sans';
    src: url('ProjectSans-MediumItalic.eot');
    src: local('Project Sans Medium Italic'), local('ProjectSans-MediumItalic'),
        url('ProjectSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('ProjectSans-MediumItalic.woff2') format('woff2'),
        url('ProjectSans-MediumItalic.woff') format('woff'),
        url('ProjectSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Project Sans';
    src: url('ProjectSans-ThinItalic.eot');
    src: local('Project Sans Thin Italic'), local('ProjectSans-ThinItalic'),
        url('ProjectSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('ProjectSans-ThinItalic.woff2') format('woff2'),
        url('ProjectSans-ThinItalic.woff') format('woff'),
        url('ProjectSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Project Sans';
    src: url('ProjectSans-BoldItalic.eot');
    src: local('Project Sans Bold Italic'), local('ProjectSans-BoldItalic'),
        url('ProjectSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ProjectSans-BoldItalic.woff2') format('woff2'),
        url('ProjectSans-BoldItalic.woff') format('woff'),
        url('ProjectSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Project Sans';
    src: url('ProjectSans-Black.eot');
    src: local('Project Sans Black'), local('ProjectSans-Black'),
        url('ProjectSans-Black.eot?#iefix') format('embedded-opentype'),
        url('ProjectSans-Black.woff2') format('woff2'),
        url('ProjectSans-Black.woff') format('woff'),
        url('ProjectSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Project Sans';
    src: url('ProjectSans-LightItalic.eot');
    src: local('Project Sans Light Italic'), local('ProjectSans-LightItalic'),
        url('ProjectSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('ProjectSans-LightItalic.woff2') format('woff2'),
        url('ProjectSans-LightItalic.woff') format('woff'),
        url('ProjectSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Project Sans';
    src: url('ProjectSans-UltraLightItalic.eot');
    src: local('Project Sans UltraLight Italic'), local('ProjectSans-UltraLightItalic'),
        url('ProjectSans-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('ProjectSans-UltraLightItalic.woff2') format('woff2'),
        url('ProjectSans-UltraLightItalic.woff') format('woff'),
        url('ProjectSans-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Project Sans';
    src: url('ProjectSans-Light.eot');
    src: local('Project Sans Light'), local('ProjectSans-Light'),
        url('ProjectSans-Light.eot?#iefix') format('embedded-opentype'),
        url('ProjectSans-Light.woff2') format('woff2'),
        url('ProjectSans-Light.woff') format('woff'),
        url('ProjectSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Project Sans';
    src: url('ProjectSans-Thin.eot');
    src: local('Project Sans Thin'), local('ProjectSans-Thin'),
        url('ProjectSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('ProjectSans-Thin.woff2') format('woff2'),
        url('ProjectSans-Thin.woff') format('woff'),
        url('ProjectSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Project Sans';
    src: url('ProjectSans-Medium.eot');
    src: local('Project Sans Medium'), local('ProjectSans-Medium'),
        url('ProjectSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('ProjectSans-Medium.woff2') format('woff2'),
        url('ProjectSans-Medium.woff') format('woff'),
        url('ProjectSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Project Sans';
    src: url('ProjectSans-HeavyItalic.eot');
    src: local('Project Sans Heavy Italic'), local('ProjectSans-HeavyItalic'),
        url('ProjectSans-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('ProjectSans-HeavyItalic.woff2') format('woff2'),
        url('ProjectSans-HeavyItalic.woff') format('woff'),
        url('ProjectSans-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Project Sans';
    src: url('ProjectSans-Bold.eot');
    src: local('Project Sans Bold'), local('ProjectSans-Bold'),
        url('ProjectSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('ProjectSans-Bold.woff2') format('woff2'),
        url('ProjectSans-Bold.woff') format('woff'),
        url('ProjectSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Project Sans';
    src: url('ProjectSans-BlackItalic.eot');
    src: local('Project Sans Black Italic'), local('ProjectSans-BlackItalic'),
        url('ProjectSans-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('ProjectSans-BlackItalic.woff2') format('woff2'),
        url('ProjectSans-BlackItalic.woff') format('woff'),
        url('ProjectSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Project Sans';
    src: url('ProjectSans-UltraLight.eot');
    src: local('Project Sans UltraLight'), local('ProjectSans-UltraLight'),
        url('ProjectSans-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('ProjectSans-UltraLight.woff2') format('woff2'),
        url('ProjectSans-UltraLight.woff') format('woff'),
        url('ProjectSans-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Project Sans';
    src: url('ProjectSans-Regular.eot');
    src: local('Project Sans Regular'), local('ProjectSans-Regular'),
        url('ProjectSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('ProjectSans-Regular.woff2') format('woff2'),
        url('ProjectSans-Regular.woff') format('woff'),
        url('ProjectSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Project Sans';
    src: url('ProjectSans-Heavy.eot');
    src: local('Project Sans Heavy'), local('ProjectSans-Heavy'),
        url('ProjectSans-Heavy.eot?#iefix') format('embedded-opentype'),
        url('ProjectSans-Heavy.woff2') format('woff2'),
        url('ProjectSans-Heavy.woff') format('woff'),
        url('ProjectSans-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Project Sans';
    src: url('ProjectSans-ExtraLight.eot');
    src: local('Project Sans ExtraLight'), local('ProjectSans-ExtraLight'),
        url('ProjectSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('ProjectSans-ExtraLight.woff2') format('woff2'),
        url('ProjectSans-ExtraLight.woff') format('woff'),
        url('ProjectSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

